@(title: String)(content: Html)

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>@title</title>

    <!--[if gt IE 8]><!-->
    <link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-b5d680ad6607cf5441a22a3a533e92b40b15b8f6b9708dbdfc5fc6da71949113.css" media="screen" rel="stylesheet" type="text/css">


    <link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-print-e4515cc0129a011e04d70411d732b064ae130c10526c16fdab1159fb8bf3db0e.css" media="print" rel="stylesheet" type="text/css">

    <!--[if IE 8]>

    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="https://assets.digital.cabinet-office.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" media="all" rel="stylesheet" type="text/css">
    <!--<![endif]-->


    <!--[if lt IE 9]>
    <script src="https://assets.digital.cabinet-office.gov.uk/static/ie-105665c0105db53b92e57fabb90b0ef42b9034a0b8341beb3a20621a7f7eb4d3.js" type="text/javascript"></script>
        <![endif]-->

        <link rel="shortcut icon" href="https://assets.digital.cabinet-office.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">

        <!-- Size for iPad and iPad mini (high resolution) -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-152x152-55dd2af7a53abb7dd14ba6a3c6c3fc786c57a074ba809f6dd767e186955a87e1.png">
        <!-- Size for iPhone and iPod touch (high resolution) -->
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-120x120-92580784afc35143f96b8cf5614e221427fdea444aeb13d912c879e884af7336.png">
        <!-- Size for iPad 2 and iPad mini (standard resolution) -->
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-76x76-9b193f39cde53b92ba555efed856bcd103d6d1dc650919eb9f29dbe5f442cfb0.png">
        <!-- Default non-defined size, also used for Android 2.1+ devices -->
        <link rel="apple-touch-icon-precomposed" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-60x60-0af0a7cf886701647210f13b661e607b7223bc3221b6d275718a89af79b3e7b9.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="https://assets.digital.cabinet-office.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/static/static-38550062a261ade58f78af85618c631f607f0c4eca6302d6e15f97104734a049.css">
        <!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/static/static-ie6-798a9f1cb015d42736695ef4c8e66780b72f7b2008b9f249fda7f84202fce1c5.css" /><script>var ieVersion = 6;</script><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/static/static-ie7-1d279e58769e80b94e19e19cdb7330b71630681d605831f86f058f31b52d5ae8.css" /><script>var ieVersion = 7;</script><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/static/static-ie8-11bdccb127fb09b8a596b3c84d264ffe34d26f79dcad5c4348efe8db0e7335ee.css" /><script>var ieVersion = 8;</script><![endif]-->

        <link rel="stylesheet" media="print" href="https://assets.digital.cabinet-office.gov.uk/static/static-print-af05cef4adab6e6cf6cf9417b3511cb6334828dcbbcb37c4ffd5a658433c98b5.css">


        <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml">
        <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/frontend/application-9d7dc93390d78af2c6e8db26e22647164bc84835589c45f9c7fb6dfd1b520638.css">
        <!--<![endif]--><link rel="alternate" type="application/json" href="/api/get-vehicle-information-from-dvla.json">
        <meta name="description" content="Check a vehicle's details, tax and SORN status and expiry dates on the Driver Vehicle and Licensing Agency (DVLA) database - online and telephone enquiries">
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/frontend/application-ie6-aefb2730348a9d65be58e1b30bbd217d687a16787bb948eb949ce9459c1a2ae5.css" /><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/frontend/application-ie7-9b4e722bb430d78857cb98b9d4eb146f4fca677a0266f7b5fe205f28e1b7b667.css" /><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.digital.cabinet-office.gov.uk/frontend/application-ie8-beff43d4ded71d48c42894ada9828459ab7b24c79bf61d118eded8e8428b17a0.css" /><![endif]--><meta name="govuk:section" content="driving and transport">
        <meta name="govuk:need-ids" content="100260">
        <meta name="govuk:format" content="transaction">
        <meta name="govuk:rendering-application" content="frontend">
    </head>

<body class="mainstream">
@content
</body>
</html>
